.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    margin-bottom: 50px;
  }

  & form {
    display: flex;
    flex-direction: column;
    width: 40%;

    & .name-field,
    .email-field,
    .message-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      .name-info,
      .email-info,
      .message-info {
        align-self: flex-end;
      }
    }

    & .name-field {
      & .name-body {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }

      & .name-info {
        & p {
          margin: 0;
          color: red;
          font-style: italic;
        }
      }
    }

    & .email-field {
      & .email-body {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
      & .email-info {
        & p {
          margin: 0;
          color: red;
          font-style: italic;
        }
      }
    }

    & .message-field {
      display: flex;
      flex-direction: column;

      & .message-body {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }

      & .message-info {
        display: flex;
        flex-direction: column;

        & p {
          margin: 0;
          text-align: right;
          font-style: italic;
          &:last-child {
            color: red;
          }
        }
      }
    }

    .submit-btn {
      background: rgba(52, 52, 255);
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid white;
      cursor: pointer;
      transition: all 0.2s;
      margin: 20px 0;
      &:hover {
        transform: scale(105%);
      }

      &:disabled {
        background: rgb(158, 158, 158);
        cursor: default;

        &:hover {
          transform: scale(100%);
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
