.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(52, 52, 255, 0.9);
  z-index: 10;

  .left, .mid, .right {
    flex-basis: 33%;
  }
}

.left {
  display: flex;
  align-items: flex-start;

  h1 {
    margin: 0;
    cursor: pointer;
    color: white;
  }
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}